<form action="/articles" method="post">
  <h1>Article Title: <input type="text" id="title" name="title" value="#{@article.title}"></h1>
  <textarea type="text" name="content" id="content" value="#{@article.content}"></textarea>
  <input type="submit" value="submit">
  
  
</form>