<form action="/articles" method="post">
  <h1>Article Title: <input type="text" id="" name="title"></h1>
  <textarea name="content"></textarea>
  <button type="submit" value="submit">Submit</button>
  
  
</form>